@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #EDEDED;
}

.todo {
    display: flex;
    flex-direction: column;
}

/* Header */
.menu {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 70px 0;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.negrita {
    font-weight: 700;
    
    color: #464646;
}


header img {
    margin: 0px 10px 0 10px;
    width: 20px;
    height: 20px;
}

.menu-lista{
    display: flex;
    gap: 20px;
}

.menu-lista-item a{
    text-decoration: none;
    color: #464646;
}

/* Titulo */

.titulo {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 15% 0 15%;
}

.perfil-imagen {
    width: 400px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 5px rgba(20, 20, 20, 0.2);
    margin-left: 50px;
}

.descripcion {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.descripcion h2 {
    color: #464646;
    font-weight: 700;
    font-size: 55px;
}

.descripcion h3 {
    font-size: 25px;
}

.lista-redes-pdf {
    display: flex;
    gap: 20px;
    align-items: center;
}

.lista-redes a img{
    width: 40px;
    height: 40px;
}

.link-cv {
    text-decoration: none;
}


.descargar-cv {
    background-color: brown;
    color: #EDEDED;
    font-weight: 600;
    padding: 13px;
    border-radius: 5px;
}


/* Sobre mi */

.sobre-mi{
    background-color: #EAF2FD;
    padding: 60px 15% 60px 15%;
}

.texto-sobre-mi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.texto-sobre-mi h3 {
    color: #464646;
    font-size: 40px;
    font-weight: bold;
}

.texto-sobre-mi p {
    line-height: 20px;
    font-size: 16px;
}


/* Skills */

.skills {
    padding: 50px 15% 50px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezados {
    text-align: center;
    width: auto;
    color: #464646;
    font-size: 40px;
    font-weight: bold;
}

.tecnologias {
    display: flex;
    margin-top: 50px;
    gap: 50px;
    
}

.tecnologia-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
        
}

.tecnologia-item img {
    width: 100px;
    border-radius: 10px;
    transition: all 0.2s;
    filter: blur(0.5px) saturate(180%);
}

.tecnologia-item img:hover {
    filter: none;
    -webkit-transform:scale(-1);transform:scale(1.3);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}


/* Hobbies */

.hobbies-container {
    padding: 70px 15% 50px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pasatiempos {
    display: flex;
    margin-top: 50px;
    gap: 70px;
}

.pasatiempos-item{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.pasatiempos-item img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(6px 5px 8px rgba(0, 0, 0, 0.4));
}


/* Formacion academica */

.formacion {
    background-color: #EAF2FD;
}

.formacion-container {
    padding: 70px 15% 50px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacion-lista {
    display: flex;
    margin-top: 50px;
    gap: 60px;
}

.formacion-lista-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contenedor-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    
}

.formacion-img {
    width: 150px;
    transition: all 0.5s;
}

.formacion-img:hover {
    -webkit-transform:scale(-1);transform:scale(1.3);
}



/* Experiencia profesional */

.experiencia-container{
    padding: 70px 15% 50px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.encriptador-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.encriptador-container img {
    width: 800px;
    box-shadow: 5px 5px 10px 3px rgba(20, 20, 20, 0.2);
}

.texto-encriptador-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.encriptador-texto {
    font-size: 20px;
}

.botones-encriptador-container {
    display: flex;
    gap: 20px;
}

.boton-ex {
    padding: 10px;
    font-size: 15px;
    transition: all .2s;
}

#link-repositorio-encriptador {
    text-decoration: none;
    color: #2A7AE4;
    background-color: #EDEDED;
    border-style: solid;
    border-width: 1px;
    border-color: #2a7be4a2;
}

#link-ver-demo {
    text-decoration: none;
    background-color: #2A7AE4;
    color: #EDEDED;
}

.boton-ex:hover {
    cursor: pointer;
    -webkit-transform:scale(-1);transform:scale(1.1);
}


/* Contacto */

.contacto {
    background-color: #EAF2FD
}

.contacto-container {
    display: flex;
    padding: 160px 15% 50px 15%;
    justify-content: space-between;
    gap: 20px;
}

.img-1 {
    width: 600px;
    height: 700px;
    /* box-shadow: 5px 5px 10px 3px rgba(20, 20, 20, 0.2); */
}

.conacto-encabezado {
    width: auto;
    color: #464646;
    font-size: 40px;
    font-weight: bold;
}

.texto-contacto-container {
    display: flex;
    margin: 0 15px;
    flex-direction: column;
}

.parrafo-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0 30px 0;
    gap: 10px;
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-item-box {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    height: 100px;
}

.label-input {
    color: #46464673;
}

#asunto, .input-item, .submit-boton {
    font-family: "Raleway", sans-serif;
    height: 50px;
    padding: 0 15px;
    margin-top: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border: 0;
}

#asunto {
    padding: 20px 15px;
}

#asunto::placeholder {
    color: #46464673;
}

.submit-boton {
    width: 100%;
    background-color: #2A7AE4;
    color: #EAF2FD;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.2s;
}

.submit-boton:hover {
    background-color: #0e2f58;
}


/* Footer */

footer {
    text-align: center;
}

.info {
    padding: 45px;
    letter-spacing: 4px;
    color: black;
}

strong {
    font-weight: bold;
}


/* Para Tablets */
@media (min-width: 768px){

}


/* Para dispositivos mobiles */
@media (min-width: 360px){

}